body {
  background-color: #ffffdf;
}

.reset-all-button {
  position: absolute;
  left: 71.8%;
  top: 77%;
}

.sound-button {
  position: absolute;
  right: 6.5%;
  top: 77%;
}

.sound-button button {
  width: 50px;
}